

<header> </header>
<div class="card-container">
<img class="img" src="eu.jpeg" alt="foto de perfil" />
<h1 class="name">Sandro Fernandes</h1>
<h3 class="title">Desenvolvedor Front end</h3>
<p class="formation">5º período de Análise e Desenvolvimento de Sistemas, cada vez mais feliz em fazer o que realmente gosto, que é programar.</p>

<h3>Habilidades</h3>

<ul class="list">
  
  <li>HTML</li>
  <li>CSS</li>
  <li>Javascript</li>
  <li>Typescript</li>
  <li>ReactJS</li>
  <li>NextJS</li>
  <li>Angular</li>
  <li>NodeJS</li>
  <li>Prisma</li>
  
</ul>

<app-buttons />


</div>

<router-outlet />
